# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized**

**Objectives:**
* markdown cells are used to type text which are not the part of code
* several features are availabe in markdown eg hashtag for header size, double asterik for bold letters,etc
* some of the important data science programming languages, libraries, tools are mentioned
* a basic python code cell is executed with answers 
* some of the python arithmetic expressions  are  mentioned

**Some of the popular languages that Data Scientists use are:**
1. Python 
2. R
3. Java
4. Scala
5. Julia

**Some of the commonly used libraries used by Data Scientists include:**
 1. TensorFlow.
   2. NumPy.
   3. SciPy.
   4. Pandas.
   5. Matplotlib.
   6. Keras.

| **Data Science Tools** |
------------------------------
| Tensorflow |
| Matlab |
|Tableau|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

|Arithmetic symbol |Meaning|
|---------------------|----------------|
|   *   |   PRODUCT   |
|   +  |    SUM     |
|   -   |   DIFFERENCE   |
|   **  |   EXPONENT  |
|   /    |    QUOTIENT   |

In [2]:
#This a simple arithmetic expression to mutiply then add integers
a=(3*4)+5
print(a)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
mins=200
hr=mins//60
mi=mins%60
print(hr,"hours" ,mi,"minutes")

3 hours 20 minutes

## Author 
Sreepradha